@font-face{
  src: url('./Assets/fonts/times-roman/OPTITimes-Roman.otf');
  font-family: TimesRoman;
}
@font-face{
  src: url('./Assets/fonts/times-roman/OPTITimesRoman-Italic.otf');
  font-family: TimesRoman-Italic;
}
/* body {
  font-family: TimesRoman;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


svg g[transform*="translate"][fill="#b1b2b7"] {
  pointer-events: none !important; /* Disable clicks */
  opacity: 0 !important; /* Hide it completely */
  display: none !important; /* Remove it */
}

.MuiBox-root.css-1u0f1ua {
  margin-top: 80px;
  margin-bottom: 80px;
}